{
    "extends": "@naverpay/eslint-config",
    "plugins": ["hidash"],
    "rules": {
        "@typescript-eslint/naming-convention": ["off"],
        "@typescript-eslint/prefer-for-of": ["off"],
        "hidash/require-same-function-export": [
            "error",
            {
                "include": ["src/*.ts"], 
                "exclude": [
                    "src/index.ts",
                    "**/*.bench.ts",
                    "**/*.test.ts" 
                ]
            }
        ]
    }
}
